body {
    background-color:black;
    color: white;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");

}

html, body. div{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

#logo {
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

#hound {
    /* width: 60%;
    height: 60%; */
    margin-top: -5%;

}

#hound:hover {
    animation: shake 1.90s cubic-bezier(.36,.07,.19,.97) both;


}

.headBtn {
    margin-left: 5%;
    margin-right: 5%;

}

button {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(1, 139, 1, 0.356);
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");

    color: white;
    border-radius: 7px;
    border-color: rgba(251, 252, 251, 0.705);
    font-family: 'Lobster', cursive;
    height: 30%;
    width: 25%;
    text-shadow: 2px 2px 3px rgba(211, 247, 7, 0.932)

}
        
           
    button:hover {
        cursor: pointer;
        background-color: black;
        animation: shake 1.90s cubic-bezier(.36,.55,.0,.97) both;

    }

.col-md {
    
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;

}




h2 {
    text-align: center;
    color:white;
    text-shadow: 2px 2px 3px rgb(4, 138, 4);
    font-family: 'Lobster', cursive;
    animation: shake 1.90s cubic-bezier(.36,.55,.0,.97) both;

}

h2:hover {
    text-shadow: 2px 2px 3px rgb(221, 245, 5);


}

svg {
    height: 150px;
    width: 150px;
    margin-left: 40%;
    margin-top: 5%;
}

#who {
    /* background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png"); */
    background-color: rgba(128, 128, 128, 0.158);
    padding-top: 3%;
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    margin-left: 7%;
    margin-right: 0%;
    overflow: hidden;

}



#social {
    margin-left: 42%;
    height: 25px;
    width: 25px;
    font-size: 75px;
}

.container {
    padding: 0;
    overflow: hidden;

    
}

p {
    font-family: 'Share Tech Mono', monospace;
    margin-top: 3%;
}

#footer {
    
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
    padding-top: 0;
    margin-bottom: 0;
    text-align: center;
    overflow: hidden;
    border-radius: 7px;
   
}

p {
    margin-top: 0%;
}

.text-muted {
    text-align: center;
    margin-left: 50%;
}

div{
    overflow: hidden;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

    @keyframes bouncing {
        0%, 50%, 100% { /* OR from, 50%, to */
            top: 0;
        }
        25%, 75% {
            top: 100px;
        }
    
    }